# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# Next.js
.next/
out/

# Hardhat / Solidity
artifacts/
cache/
build-info/
.solidity-debug/

# VSCode
.vscode/

# Logs
logs/
*.log

# dotenv
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Frontend
frontend/node_modules/
frontend/.next/
frontend/.env

# Editor
.idea/
